<%= form_for(@police) do |f| %>
  <% if @police.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@police.errors.count, "error") %> prohibited this police from being saved:</h2>

      <ul>
      <% @police.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :second_name %><br>
    <%= f.text_field :second_name %>
  </div>
  <div class="field">
    <%= f.label :father_name %><br>
    <%= f.text_field :father_name %>
  </div>
  <div class="field">
    <%= f.label :mother_name %><br>
    <%= f.text_field :mother_name %>
  </div>
  <div class="field" >
      <%= f.label :current_status %><br>
      <%= f.select :current_status, options_for_select([['Active', 'Active'], ['Inactive', 'Inactive']]) %>
  </div>
  <div class="hidden">
    <%= f.label :latitude %><br>
    <input type="text" id="latitude" placeholder="latitud" value= <%= f.text_field :latitude %>>
  </div>
  <div class="hidden">
    <%= f.label :longitude %><br>
    <input type="text" id="longitude" placeholder="longitud" value= <%= f.text_field :longitude %>>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>




<% end %>
