<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @press.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @press.phone %>
</p>

<p>
  <strong>Main email:</strong>
  <%= @press.main_email %>
</p>

<p>
  <strong>Secondary mail:</strong>
  <%= @press.secondary_mail %>
</p>

<%= link_to 'Edit', edit_press_path(@press) %> |
<%= link_to 'Back', presses_path %>
