<%= form_for :post, html: {multipart: true}, :url => {:action => :create} do |f| %>
    <% if @dato.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@dato.errors.count, "error") %> prohibited this turno from being saved:</h2>

          <ul>
            <% @dato.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <!-- Comienza el formulario, los ids de cada elemento son iguales al nombre de la columna que corresponde -->
    <div class="container">
      <form class="form-horizontal" id="form_members" role="form" method="POST">
        <legend>Datos de la persona</legend>
        <div class="form-group">
          <label for="name" class="col-sm-2">Nombre</label>
          <div class="col-sm-4">
            <%= f.text_field :name, type: 'text', class: 'form-control', placeholder: 'Nombre' %>
          </div>
          <label for="lastname" class="col-sm-2">Apellido</label>
          <div class="col-sm-4">
            <%= f.text_field :lastname, type: 'text', class: 'form-control', placeholder: 'Apellido' %>
          </div>
        </div>
        <div class="form-group">
          <label for="gender" class="col-sm-2">Género</label>
          <div class="col-sm-4">
            <%= f.select(:gender, ['Mujer', 'Hombre'], {}, {:class => 'form-control'}) %>
          </div>
          <label for="contexture" class="col-sm-2">Contextura</label>
          <div class="col-sm-4">
            <%= f.select(:contexture, ['Delgada', 'Media', 'Gruesa'], {}, {:class => 'form-control'}) %>
          </div>
        </div>
        <div class="form-group">
          <label for="height" class="col-sm-2">Altura</label>
          <div class="col-sm-4">
            <%= f.select(:height, ['Alta', 'Media', 'Baja'], {}, {:class => 'form-control'}) %>
          </div>
          <div class="col-sm-12">
            <label for="height" class="col-sm-2"></label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <div class="field">
              <%= f.label :ultima_posicion_conocida %><br>
              <%= f.text_area :lastknownposition, :cols => 30, :rows => 10, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="field">
              <%= f.label :ultima_vestimenta %><br>
              <%= f.text_area :lastdress, :cols => 30, :rows => 10, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="field">
              <%= f.label :lugares_que_frecuenta %><br>
              <%= f.text_area :frequentplaces, :cols => 30, :rows => 10, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <%= f.file_field :image, type: 'file', class: 'file-field' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-warning" name="submit" id="submit">Subir</button>
          </div>
        </div>
      </form>
    </div>
<% end %>
