<%= form_for :post , html: {multipart: true },:url => { :action => :create} do |f| %>
 <% if @dato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dato.errors.count, "error") %> prohibited this turno from being saved:</h2>

      <ul>
      <% @dato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :name%>
  </div>
   <div class="field">
    <%= f.label :apellido %>
    <%= f.text_field :lastname%>
  </div>
 
 <div class="field">
    <% gend ={
      'masculino' => 'M',
      'femenino' =>  'F',}
    %>
    <%= f.label :género %>
    <%= f.select :gender, gend%>
  </div>
 <div class="field">
   <% contextu ={
      'delgada' => 'thin',
      'media' =>  'medium',
      'gruesa' =>  'gross',} 
    %>
    <%= f.label :contextura %>
    <%= f.select :contexture,contextu%>
  </div>
 <div class="field">
    <% heig ={
      'alto' => 'tall',
      'mediano' =>  'medium',
      'bajo   ' =>  'short',}
    %>
    <%= f.label :altura %>
    <%= f.select :height,heig%>
  </div>
 <div class="field">
    <%= f.label :ultima_posicion_conocida %><br>
    <%= f.text_area :lastknownposition ,:cols =>30 ,:rows => 10 %>
  </div>
 <div class="field">
    <%= f.label :ultima_vestimenta %><br>
    <%= f.text_area :lastdress  ,:cols =>30 ,:rows => 10 %>
  </div>
 <div class="field">
    <%= f.label :lugares_que_frecuenta %><br>
    <%= f.text_area :frequentplaces ,:cols =>30 ,:rows => 10 %>
  </div>
  <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>

  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>
